.dropdown {
  width: 16%;
  background: #777;
  button{
    background: #444;
    border: none;
    margin: 0;
    outline: none;
    border-radius: 0;
    padding: 10px;
    color: #FFF;
  }
  button:active,button:focus, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
    background: $main;
    color: #FFF;
    outline: none;
  }
}
.dropdown:hover{
  button{
    background: #444;
    color: $main;
  }
}
.dropdown.open{
  background: #AAA;
}
.dropdown-menu{
  background: #efefef;
  margin: 0;
  top: 0%;
  left: 100%;
  padding: 0;
  border-radius: 0;
  border: none;
  color: #FFF;
  li{
    padding: 9px 20px 9px 10px;
    color: #FFF;
    border-bottom: 1px solid #ddd;
    a{
      padding: 0;
      background: none !important;
      text-transform: capitalize;
    }
    a:hover{
      background: none !important;
    }
  }
  li:hover{
    background: $light-main;

    a{
      color: #FFF;
    }
  }
}