input[type='text'] {
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255, 0.05);
  border: 1px solid #333;
  outline: none;
}

input[type='text'].active, input[type='text']:hover, input[type='text']:focus {
  border: 1px solid $light-main;
}
