$main: #84bd00;
$light-main: rgba(132, 189, 0, 0.6);

body{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #88898c;
  background-color: #121314;
}

h1{
  color: #d6d6d7;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 595px;
  min-width: 1080px;
  overflow: hidden;
}

#main {
  background: #121314;
  position: absolute;
  left: 90px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  >div.active {
    display: block;
  }
  >div.stacked>div.root {
    width: 100%;
    -webkit-transform: translate3d(0%,0,0);
    -moz-transform: translate3d(0%,0,0);
    -ms-transform: translate(0%,0);
    -o-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
  }
  .section{
    padding: 20px 100px;
  }
}


@media screen and (max-height: 570px) {
  body {
    overflow-y: auto;
  }
}
