.song-md{
  width: 18%;
  float: left;
  margin-right: 2.5%;
  background: #333;
  border: 1px solid transparent;
  margin-bottom: 20px;
  .cover {
    width: 100%;
    position: relative;
    .meta {
      width: 100%;
      color: #888;
      padding: 10px;
      background: rgba(255,255,255, 0.1);
      position: absolute;
    }
  }

  img {
    width: 100%;
    height: 150px;
    background: #fff;
  }
  .info{
    padding: 10px;
    width: 84%;
    color: #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  .dropdown, .info{
    float: left;
  }
}

.song-md:nth-of-type(5n) {
  margin-right: 0;
}

.flash-text{
  color: $main;
  margin-bottom: 25px;
}
