a {
  color: #dfe0e6;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.etched-top {
  border-top: 1px solid #000;
}

.main-menu-nav, .main-menu-nav ul {
  list-style: none;
  padding-left: 0;
}

.main-menu.narrow-menu {
  min-height: 595px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90px;
  z-index: 1000;
  background-color: #1c1c1f;
  li {
    position: relative;
  }
  a:before {
    position: absolute;
    top: 18px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 19px;
  }
  a {
    span{
      font-family: 'Open Sans', sans-serif;
    }
    padding: 50px 10px 0 10px;
    height: 75px;
    width: 90px;
    display: block;
    color: #88898c;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    .logo {
      margin: 0;
    }
    .nav-text {
      text-align: center;
      display: block;
      overflow: hidden;
    }
  }
  .item-profile {
    position: absolute;
    bottom: 110px;
  }
}

.main-menu.wide-menu {
  li {
    position: relative;
  }
  a{
    color: #88898c;
    text-decoration: none;
    position: relative;
    font-weight: 400;
  }
}

.main-menu.narrow-menu .messages-link, .main-menu.narrow-menu .item-notifications {
  position: absolute;
  text-align: center;
  width: 50%;
  bottom: 50px;
}

.main-menu.narrow-menu .item-notifications {
  left: 50%;
}

.main-menu.narrow-menu .settings-link {
  position: absolute;
  bottom: 0;
}

@media (max-height: 670px) {
  .main-menu.narrow-menu .item-profile {
    bottom: 75px;
  }
  .main-menu.narrow-menu .messages-link, .main-menu.narrow-menu .item-notifications {
    bottom: 36px;
  }
}

.main-menu.narrow-menu .main-menu-nav a.standard-menu-item {
  height: 63px;
  padding: 36px 10px 0 10px;
}

.main-menu.narrow-menu .main-menu-nav a.standard-menu-item:before {
  top: 12px;
  font-size: 19px;
}

.main-menu.narrow-menu a.active:after, .main-menu.narrow-menu a.selected:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  background-color: $main;
  top: 50%;
  margin-top: -22px;
  height: 43px;
  width: 3px;
  color: #FFF;
}

.main-menu.narrow-menu a:hover, .main-menu.wide-menu a:hover, .main-menu.narrow-menu a.selected, .main-menu.narrow-menu a.active {
  color: #d6d6d7;
}