table{
  width: 100%;
  .table-icon{
    max-width: 100px;
  }
  td{
    padding: 8px 16px;
  }
  thead{
    text-transform: uppercase;
  }
  tbody{
    color: #d6d6d7;
    td{
      border-top:1px solid #333;
      border-bottom:1px solid #333 ;
    }
    tr:hover{
      background: rgba(255,255,255, 0.05);
      cursor: pointer;
    }
  }
}

.song-list{
  margin-top: 50px;
}