<h1>Library</h1>
<input type="text" placeholder="Search" ng-model="searchField">
<p class="flash-text">We have found {{ filtered.length }} songs <span ng-if="searchField"> that contains '{{ searchField }}'</span></p>
<div>
  <div class="song-md" ng-repeat="song in filtered = (libraryModel.library | filter: searchField)">
    <div class="cover">
        <div class="meta">
            {{::song.artist}}<br/>
            {{::song.album}}<br/>
            {{::song.title}}<br/>
            {{::song.length}}
        </div>
    </div>
    <img src="images/default.jpg">
    <div class="song-content" >
      <div class="dropdown" ng-controller="MyMusicCtrl">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <i ng-if="!inCollection(song)" class="glyphicon glyphicon-plus"></i>
          <i ng-if="inCollection(song)" class="glyphicon glyphicon-ok"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-controller="PlaylistsCtrl">
          <li ng-if="!inCollection(song)" ng-click="addSong(song)"><a>add to MyMusic</a></li>
          <li ng-if="inCollection(song)" ng-click="removeSong(song)"><a>remove from MyMusic</a></li>

          <li ng-repeat="playlist in ::playlistsModel.playlists"
              ng-if="inCollection(song) && !inPlaylist(playlist, song)"
              ng-click="addSongToPlaylist(playlist, song)">
              <a><span></span>add to {{::playlist.name}}</a>
          </li>
        </ul>
      </div>
      <div class="info">
        {{::song.title}}
      </div>
    </div>
  </div>
</div>
