<div id="main-nav" class="main-menu narrow-menu" ng-controller="MainMenuCtrl">
  <a href="/" id="logo" class="logo"></a>
  <ul id="nav-items" class="main-menu-nav">
    <li>
      <a href="#/library" class="glyphicon glyphicon-search standard-menu-item" ng-class="{ active: currentNav == '/library' }"><span class="nav-text">Search</span></a>
    </li>
    <li>
      <a href="#/playlists" class="glyphicon glyphicon-music standard-menu-item" ng-class="{ active: currentNav == '/playlists' }"><span class="nav-text">Playlists</span></a>
    </li>
    <li>
      <a href="#/myMusic" class="glyphicon glyphicon-headphones standard-menu-item" ng-class="{ active: currentNav == '/myMusic' }"><span class="nav-text">My  Music</span></a>
    </li>
    <li class="item-profile etched-top has-extra-bottom-row">
      <a data-href="user" id="nav-profile" class="">
        <span class="nav-text">
            <div class="media simple user">
              <div class="media-image">
                <div class="media-placeholder">
                  <span class="icon"></span>
                </div>
                <div class="media-image-internal"></div>
              </div>
            </div>
            <div class="name">gertverm</div>
        </span>
      </a>
    </li>
  </ul>
</div>
