<h1>My Music</h1>
<div id="myMusic">
    <table class="song-list">
        <thead>
        <tr>
            <td>title</td>
            <td>artist</td>
            <td>album</td>
            <td class="table-icon"><i class="glyphicon glyphicon-time"></i></td>
            <td class="table-icon"></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="song in myMusicModel.myMusic">
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
            <td>{{song.album}}</td>
            <td>{{song.length}}</td>
            <td>
                <div class="dropdown">
                    <button id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class="btn btn-default dropdown-toggle">
                        <i class="glyphicon glyphicon-pencil" ></i>
                    </button>

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-controller="PlaylistsCtrl">
                        <li ng-click="myMusicModel.removeSong(song)"><a><i class="glyphicon glyphicon-minus"></i> My Music</a></li>
                        <li ng-repeat="playlist in ::playlistsModel.playlists"
                            ng-if="!inPlaylist(playlist, song)"
                            ng-click="addSongToPlaylist(playlist, song)">
                            <a><i class="glyphicon glyphicon-plus"></i> {{::playlist.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
