<h1>Playlists</h1>
<div id="playlist">
    <div class="row">
        <div class="col-md-3">
            <table class="song-list">
                <thead>
                <tr>
                    <td>Playlist</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="playlist in playlistsModel.playlists">
                    <td ng-click="activatePlaylist(playlist)">{{playlist.name}}</td>
                    <td><i ng-click="removePlaylist(playlist)" class="glyphicon glyphicon-minus"></i></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="newplaylist" placeholder="new playlist"/></td>
                    <td><i ng-click="createPlaylist(newplaylist)" class="glyphicon glyphicon-plus"></i></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-9">
            <table class="song-list">
                <thead>
                <tr>
                    <td>title</td>
                    <td>artist</td>
                    <td>album</td>
                    <td class="table-icon"><i class="glyphicon glyphicon-calendar"></i></td>
                    <td class="table-icon"><i class="glyphicon glyphicon-time"></i></td>
                    <td class="table-icon"></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="song in playlistsModel.selectedPlaylist.songs">
                    <td>{{song.title}}</td>
                    <td>{{song.artist}}</td>
                    <td>{{song.album}}</td>
                    <td>2015-04-09</td>
                    <td>{{song.length}}</td>
                    <td><i ng-click="removeSongFromPlaylist(song)" class="glyphicon glyphicon-minus"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

